@import "variables";
@import "functions";

$sidebar-offset: spacing(8);

.container {
  position: absolute;
  top: calc($header-height + spacing(7));
  left: $sidebar-offset;
  right: 0;
}

.sidenav {
  width: 200px;
}

.sidebar-item {
  &:hover * {
    color: $primary-purple;
  }
}
