<div class="row">
  <div class="col-xs-8 p-0">
    <div class="mlr-9" appEditableText>
      <h1 class="uppercase">LYUBEN TOSHEVSKI</h1>
      <p>Software Developer</p>
      <div class="contacts">
        <div>
          <p>+131123123</p>
        </div>
        <div>
          <p>lyuben.toshevski&#64;gmail.com</p>
        </div>
        <div>
          <p>Remote / Bulgaria</p>
        </div>
      </div>
    </div>
  </div>
  <div class="image-holder col-xs-4 p-0">
    <div class="plr-9">
      <img src="assets/images/profile.jpg" alt="Profile picture" />
    </div>
  </div>
</div>
