@import "variables";

:host {
  display: block;
  width: 100%;
  height: $header-height;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 9999;
}
