// Primary colors
$primary-gray: #4b525b;
$primary-white: rgba(255, 255, 255, 0.831);
$primary-error: #ff4d4f;

// Secondary colors
$blue-fog: #4a93f2;
$powder-green: #4af2b7;
$light-gray: rgba(0, 0, 0, 0.1);
$dirty-white: #f1f1f1;
$dark-gray: rgba(100, 99, 99, 0.785);
