@import "colors";

body {
  --mat-menu-container-color: white;
  --mat-sidenav-container-background-color: white;
  --mat-sidenav-content-background-color: transparent;
  --mat-sidenav-content-text-color: #{$primary-gray};
  --mat-toolbar-container-background-color: white;
  --mat-toolbar-container-text-color: #{$primary-gray};
  --mdc-icon-button-icon-color: #{$primary-gray};
  --mat-icon-button-state-layer-color: #{$primary-gray};
  --mdc-list-list-item-hover-state-layer-color: #{$primary-gray};
  --mdc-dialog-container-color: rgba(26, 17, 41, 0.731);
  --mat-dialog-container-max-width: "100%";
}

.mat-ripple-element {
  background-color: rgba($light-gray, 0.1);
}
