@import "variables";

p {
  padding: map-get($map: $spacing-values, $key: 4);
  border: 2px solid $primary-gray;
  border-radius: 8px;
}

@media (min-width: $smMin) {
  p {
    padding: 0;
    border: none;
  }
}
