@import "variables";

:host {
  display: block;
  * {
    color: inherit;
  }

  .border {
    border: 1px solid $light-gray;
  }
}

@media (min-width: $smMin) {
  :host(.inversed) {
    .border {
      border-color: inherit;
    }
  }
}
