// Width Breakpoints
$xsMin: 320px;
$xsMax: 767px;
$smMin: 768px;
$smMax: 991px;
$mdMin: 992px;
$mdMax: 1279px;
$lgMin: 1280px;
$lgMax: 1599px;
$xlMin: 1600px;

// Height Breakpoints
$zoomMax: 380px;
