<mat-drawer-container
  [hasBackdrop]="true"
  class="h-100-p"
  [ngClass]="{ 'pos-fixed w-100-p': drawer.opened }"
>
  <mat-drawer #drawer mode="over" class="pb-9 col-xs-6">
    <div class="row">
      @for (template of templates; track $index) {
      <div class="m-7 cursor-default flex column middle-xs">
        <p>{{ template.title }}</p>
        <div
          class="template-item flex shadow-wrap hover cursor-pointer"
          matRipple
          (click)="templateSelect($index)"
        >
          <img [src]="template.base64ImageString" width="100%" />
        </div>
      </div>
      }
    </div>
  </mat-drawer>
  <mat-drawer-content class="h-100-p"
    ><ng-content></ng-content
  ></mat-drawer-content>
</mat-drawer-container>
<div class="dynamic-container">
  <ng-container #dynamicComponent></ng-container>
</div>
