<ng-container *ngIf="isMobile$ | async; else desktopView">
  <ng-template [ngTemplateOutlet]="mobileView"></ng-template>
</ng-container>

<ng-template #desktopView>
  <div class="row between-xs">
    @for (contact of contacts; track $index) {
    <app-text-with-icon
      class="icon-with-text"
      [ngClass]="{ 'last-xs grow': contact.key === 'location' }"
      [text]="contact.value"
      [icon]="contact.icon"
      (textChange)="contactsChange.emit({ key: contact.key, value: $event })"
    ></app-text-with-icon>
    }
  </div>
</ng-template>

<ng-template #mobileView>
  <div class="contacts">
    @for (contact of contacts; track $index) {
    <h2>{{ contact.label }}</h2>
    <p
      appEditableText
      (finishEditing)="finishEditing.emit()"
      (cancelEditing)="cancelEditing.emit()"
      appTextContentChange
      (textChange)="contactsChange.emit({ key: contact.key, value: $event })"
    >
      {{ contact.value }}
    </p>
    }
  </div>
</ng-template>
