<div class="row">
  <div class="col-xs-12 col-sm-8 p-0">
    <div class="plr-4 plr-sm-9">
      @for (section of sections | slice:0:sectionsHalf; track $index) {
      <app-section-with-entries
        class="mb-8"
        [title]="section.title"
        [subtitle]="section.subtitle"
        [content]="section.content"
      ></app-section-with-entries>
      }
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 p-0">
    <div class="plr-4 plr-sm-9">
      @for (section of sections|slice:sectionsHalf; track $index) {
      <app-section-with-entries
        class="inversed"
        [title]="section.title"
        [subtitle]="section.subtitle"
        [content]="section.content"
      ></app-section-with-entries>
      }
    </div>
  </div>
</div>
