<ng-container *ngIf="info$ | async as info">
  <ng-container *ngIf="isMobile$ | async; else desktopView">
    <ng-template [ngTemplateOutlet]="mobileView"></ng-template>
  </ng-container>

  <ng-template #desktopView>
    <div class="row">
      <div class="col-sm-8 start-xs p-0">
        <div
          class="mlr-8 p-8"
          appEditableText
          (finishEditing)="onFinishEditing()"
          (cancelEditing)="onCancelEditing()"
        >
          <h1
            class="uppercase"
            appTextContentChange
            (textChange)="
              onInput($event, info.primary[0].key, InfoType.PRIMARY)
            "
          >
            {{ info.primary[0].value }}
          </h1>
          <h3
            appTextContentChange
            (textChange)="
              onInput($event, info.primary[1].key, InfoType.PRIMARY)
            "
            class="color-blue-fog"
          >
            {{ info.primary[1].value }}
          </h3>
          <ng-template [ngTemplateOutlet]="contacts"></ng-template>
        </div>
      </div>
      <div *ngIf="showImagePicker" class="image-holder col-sm-4 p-0">
        <ng-template [ngTemplateOutlet]="image"></ng-template>
      </div>
    </div>
  </ng-template>

  <ng-template #mobileView>
    <div class="row">
      <div class="col-xs-12 start-xs p-0">
        <div class="mlr-4">
          <div *ngIf="showImagePicker" class="image-holder p-0 mb-3">
            <ng-template [ngTemplateOutlet]="image"></ng-template>
          </div>
          @for (entry of info.primary; track $index) {
          <h2>{{ entry.label }}</h2>
          <p
            appEditableText
            (finishEditing)="onFinishEditing()"
            (cancelEditing)="onCancelEditing()"
            appTextContentChange
            (textChange)="onInput($event, entry.key, InfoType.PRIMARY)"
          >
            {{ entry.value }}
          </p>
          }
          <ng-template [ngTemplateOutlet]="contacts"></ng-template>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #image>
    <app-image-picker
      (imageRemoved)="showImagePicker = false"
    ></app-image-picker>
  </ng-template>

  <ng-template #contacts>
    <app-contacts
      [contacts]="info.secondary"
      (finishEditing)="onFinishEditing()"
      (cancelEditing)="onCancelEditing()"
      (contactsChange)="onInput($event.value, $event.key, InfoType.SECONDARY)"
    ></app-contacts>
  </ng-template>
</ng-container>
