<app-cv-templates-drawer>
  <div class="p-7 flex center-xs">
    <app-sidebar
      *ngIf="!(isMobile$ | async)"
      [sidebarItems]="sidebarItems"
      (download)="exportToPdf()"
      (showTemplates)="showTemplates()"
    ></app-sidebar>
    <app-cv-container
      #cvContainer
      class="shadow-main col-sm-10 col-lg-8 p-0"
    ></app-cv-container>

    <div class="pos-relative">
      <button
        mat-icon-button
        class="preview-button flex center-xs middle-xs"
        (click)="generatePDFPreview()"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </div>
</app-cv-templates-drawer>
